.navbar-2{
	background-color: black;
	border-top: solid 2px white;
} 
.w-nav-link{
	border: none;
}
.navbar-2 .nav-link-2{
	border-top: solid 2px white;
} 
.icon-2{
	color: white;
	font-size: 30px;
}
.menu-button.w--open{
	background-color: transparent;
}

[data-nav-menu-open]{
	background-color: black;
	margin-top: 10px;
	
}

.mob-nav a{
	
	color: white !important;
	border-bottom: solid 2px white;
	
}

.w-nav-overlay{
	display: block;
	opacity: 0;
	transition: opacity 1s;
	-moz-transition:  opacity 1s ;
	-o-transition:  opacity 1s;
	-webkit-transition:  opacity 1s;
	overflow: hidden;
}

.an-nav-bf{
	opacity: 1;
	height: 909.188px;
}

.div-block{
	margin-top: 20px;
}

.w-menu-open-nav::before{
	color: red;
}
