.navbar-2{
	background-color: black;
	border-bottom: solid 2px white;
	border-top: solid 2px white;
} 
.icon-2{
	color: white;
}
.menu-button.w--open{
	background-color: transparent;
}

[data-nav-menu-open]{
	background-color: black;
}
.mob-nav a{
	color: white !important;
	border-bottom: solid 2px white;
}